<form  [formGroup]="photoForm" (submit)="upload()" class="pb-10  fade-in-circle photo-form-component"  #form="ngForm">
    <div class="main_content bg-white">

        <!-- Header Photo Form -->
        <div class="flex items-center justify-between px-2 py-3 dark:border-gray-600">
            <div class="flex flex-1 items-center space-x-4">
                <a routerLink="/{{($user | async).users_name}}">
                    <div class="bg-gradient-to-tr bg-purple-500 p-0.5 rounded-full">
                        <img src="{{($user | async).users_avatar}}" class="bg-gray-200 border border-white rounded-full w-8 h-8">
                    </div>
                </a>
                <span class="block text-lg font-semibold cursor-pointer" routerLink="/{{($user | async).users_name}}"> {{($user | async).full_name | titlecase}} </span>
            </div>
            <a appBackHistory>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 512 512">
                    <title>ionicons-v5-m</title>
                    <path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"/>
                </svg>
            </a>
        </div>

        <!-- Text User Photo Form -->
        <div class="flex dark:border-gray-700 pb-2">
            <textarea #descriptionInput formControlName="description" cols="1" rows="1" placeholder="Your Message.." class="flex-1  resize-none min-w-0 shadow-none dark:bg-transparent">
            </textarea>
        </div>

        <!-- Description Video Photo Form -->
        <div class="flex dark:border-gray-700 pb-2 m-auto" *ngIf="showPreviewMovie">
            <div class="flex items-center justify-between py-2 dark:border-gray-600">
                <div class="flex flex-1 items-center space-x-4">
                    <span class="block text-lg font-semibold"> Video options </span>
                </div>
            </div>
        </div>


        <!-- Remove video -->
        <svg *ngIf="showPreviewMovie" xmlns="http://www.w3.org/2000/svg" width="40" class="m-auto" height="40" viewBox="0 0 512 512" (click)="removeMovie()">
            <title>ionicons-v5-m</title>
            <path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"/>
        </svg>

        <!-- Swiper Videos -->
        <div class="flex dark:border-gray-700 m-auto row-swiper-movie" *ngIf="showPreviewMovie">
            <swiper [spaceBetween]="2" effect="fade" [slidesPerView]="1" [navigation]="true">               
                <ng-template swiperSlide *ngFor="let item of itemsMovieToPreview; let i = index;">
                    <div class="p-10">
                        <video controls class="w-100 cursor-pointer img-files  item-movie-{{index}} ">
                            <source src="{{item}}">
                        </video>
                    </div>
                </ng-template>
            </swiper>
        </div>


        <!-- Description Image Photo Form -->
        <div class="flex dark:border-gray-700 m-auto" *ngIf="showPreview">
            <div class="flex items-center justify-between py-2 dark:border-gray-600">
                <div class="flex flex-1 items-center space-x-4">
                    <span class="block text-lg font-semibold"> Images </span>
                </div>
            </div>
        </div>


        <!-- Select Filter Photo Form -->
        <!-- <div class="flex dark:border-gray-700 pb-2 m-auto" *ngIf="showPreview">
            <swiper [spaceBetween]="2" effect="fade" [slidesPerView]="cols">               
                <ng-template swiperSlide *ngFor="let item of items(); let i = index;">
                    <div>
                        <img src="{{croppedImage}}" class="w-100 rounded cursor-pointer item  {{item}}" (click)="selectItemCarousel(item)" alt='Filters carousel'>                            
                    </div>
                </ng-template>
            </swiper>
        </div> -->

        <!-- Image Cropper Photo Form -->
        <div class="flex dark:border-gray-700 pb-2 m-auto" >
            <span *ngIf="spinnerFile" class="spinner-border m-auto"></span>
            <div class="text-center w-100" appDarkenOnHover brightness="70%" *ngIf="showPanelCrop && !spinnerFile">

                <!-- Remove File -->
                <svg xmlns="http://www.w3.org/2000/svg" width="40" class="m-auto" height="40" viewBox="0 0 512 512" (click)="removeFile()">
                    <title>ionicons-v5-m</title>
                    <path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"/>
                </svg>
                
                <image-cropper class="preview-photo-crop {{classSelectedCarousel}}"
                        [imageBase64]="imageBase64String"
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="false"
                        [aspectRatio]="3/4"
                        (imageCropped)="imageCropped($event)"
                        (cropperReady)="cropperReady()"
                        [imgToBeSet] = "croppedImage"
                        (loadImageFailed)="loadImageFailed()"
                        (imageLoaded)="imageLoaded($event)"
                ></image-cropper>
            </div>            
        </div>

        <!-- Swiper Photo Form -->
        <div class="flex dark:border-gray-700 row-photos-swiper m-auto" *ngIf="showPreview">
            <swiper [spaceBetween]="15" effect="fade" [slidesPerView]="cols">               
                <ng-template swiperSlide *ngFor="let file of files; let i = index;">
                    <div>
                        <img src="{{file.file}}" class="w-100 cursor-pointer img-files {{i == 0?'selected':''}}" (click)="selectItemCarouselToFilter(file.file, $event,i)" alt='Filters carousel photos'>                            
                    </div>
                </ng-template>
            </swiper>            
        </div>

        <!-- Selected Image  Photo Form -->
        <div class="flex dark:border-gray-700 pb-2 m-auto" *ngIf="showPreview">
            <div class="flex items-center justify-between py-2 dark:border-gray-600">
                <div class="flex flex-1 items-center space-x-4">
                    <span class="block text-lg font-semibold"> You selected </span>
                </div>
            </div>
        </div>        
    </div>


    <!-- Footer Photo Form -->
    <div class="space-y-3 fixed-bottom p-2 footer-add main_content">
        <div class="flex space-x-4 lg:font-bold painel-iteraction">
            <a (click)="validInputFile()" class="flex items-center space-x-2">
                <div class="rounded-full text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Images</title><path d="M432 112V96a48.14 48.14 0 00-48-48H64a48.14 48.14 0 00-48 48v256a48.14 48.14 0 0048 48h16" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path d="M342.15 372.17L255 285.78a30.93 30.93 0 00-42.18-1.21L96 387.64M265.23 464l118.59-117.73a31 31 0 0141.46-1.87L496 402.91" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
                </div>
            </a>
            <a (click)="validInputFileMovie()" class="flex items-center space-x-2">
                <div class="rounded-full text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Videocam</title><path d="M374.79 308.78L457.5 367a16 16 0 0022.5-14.62V159.62A16 16 0 00457.5 145l-82.71 58.22A16 16 0 00368 216.3v79.4a16 16 0 006.79 13.08z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M268 384H84a52.15 52.15 0 01-52-52V180a52.15 52.15 0 0152-52h184.48A51.68 51.68 0 01320 179.52V332a52.15 52.15 0 01-52 52z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                </div>
            </a>
            <a (click)="tooglePublicPost()" class="flex items-center space-x-2">
                <div class="rounded-full text-black">
                    <svg xmlns="http://www.w3.org/2000/svg"  class="ionicon" viewBox="0 0 512 512">
                        <title>Globe</title>
                        <path style="{{publicCheck?'stroke:rgb(140 98 226)':''}}" d="M256 48C141.13 48 48 141.13 48 256s93.13 208 208 208 208-93.13 208-208S370.87 48 256 48z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/>
                        <path style="{{publicCheck?'stroke:rgb(140 98 226)':''}}" d="M256 48c-58.07 0-112.67 93.13-112.67 208S197.93 464 256 464s112.67-93.13 112.67-208S314.07 48 256 48z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/>
                        <path style="{{publicCheck?'stroke:rgb(140 98 226)':''}}" d="M117.33 117.33c38.24 27.15 86.38 43.34 138.67 43.34s100.43-16.19 138.67-43.34M394.67 394.67c-38.24-27.15-86.38-43.34-138.67-43.34s-100.43 16.19-138.67 43.34" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
                        <path style="{{publicCheck?'stroke:rgb(140 98 226)':''}}" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" d="M256 48v416M464 256H48"/>
                    </svg>
                </div>
            </a>
            <input formControlName="file" class='file-input'  #fileInput  max-size="8000" hidden type="file" accept="image/*" (change)="fileChangeEvent( $event )" multiple="multiple">
            <input formControlName="fileMovie" class='file-input-movie'  #fileInputMovie  max-size="8000" hidden type="file" accept="video/*" (change)="fileChangeEventMovie( $event )" multiple="multiple">

            <a class="flex items-center space-x-2 flex-1 justify-end">            
                <button [disabled]="formInvalid" type="submit" class="bg-purple-500 hover:bg-purple-500 px-6 py-2 rounded-md text-white font-semibold">
                    <span *ngIf="spinner" class="spinner-border" ></span>
                    <span *ngIf="!spinner">Post</span>                 
                </button>
            </a>
        </div>
    </div>
</form>