<form  [formGroup]="photoForm" (submit)="getImageCropped()" class="pb-10  fade-in-circle photo-form-component"  #form="ngForm">
    <div class="main_content bg-white">
        <div class="flex items-center justify-between px-2 py-3 dark:border-gray-600">
            <div class="flex flex-1 items-center space-x-4">
                <a href="#">
                    <div class="bg-gradient-to-tr bg-purple-500 p-0.5 rounded-full">
                        <img src="assets/images/avatars/avatar-2.jpg" class="bg-gray-200 border border-white rounded-full w-8 h-8">
                    </div>
                </a>
                <span class="block text-lg font-semibold"> Johnson smith </span>
            </div>
            <a appBackHistory>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 512 512">
                    <title>ionicons-v5-m</title>
                    <path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"/>
                </svg>
            </a>
        </div>
        <div class="flex dark:border-gray-700 pb-2">
            <textarea #descriptionInput formControlName="description" cols="1" rows="1" placeholder="Your Message.." class="flex-1  resize-none min-w-0 shadow-none dark:bg-transparent">
            </textarea>
        </div>
        <div class="flex dark:border-gray-700 pb-2 m-auto" *ngIf="showPreview">
            <div class="flex items-center justify-between py-2 dark:border-gray-600">
                <div class="flex flex-1 items-center space-x-4">
                    <span class="block text-lg font-semibold"> Filters </span>
                </div>
            </div>
        </div>
        <div class="flex dark:border-gray-700 pb-2 m-auto" *ngIf="showPreview">
            <swiper [spaceBetween]="2" effect="fade" [slidesPerView]="cols">               
                <ng-template swiperSlide *ngFor="let item of items(); let i = index;">
                    <div>
                        <img src="{{croppedImage}}" class="w-100 rounded cursor-pointer item  {{item}}" (click)="selectItemCarousel(item)" alt='Filters carousel'>                            
                    </div>
                </ng-template>
            </swiper>
        </div>
        <div class="flex dark:border-gray-700 pb-2 m-auto" >
            <span *ngIf="spinnerFile" class="spinner-border m-auto"></span>
            <div class="text-center w-100" appDarkenOnHover brightness="70%" *ngIf="showPanelCrop && !spinnerFile">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" class="m-auto" height="40" viewBox="0 0 512 512" (click)="removeFile()">
                    <title>ionicons-v5-m</title>
                    <path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"/>
                </svg>
                <image-cropper class="preview-photo-crop {{classSelectedCarousel}}"
                        [imageBase64]="imageBase64String"
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="false"
                        [aspectRatio]="3/4"
                        (imageCropped)="imageCropped($event)"
                        (cropperReady)="cropperReady()"
                        [imgToBeSet] = "croppedImage"
                        (loadImageFailed)="loadImageFailed()"
                        (imageLoaded)="imageLoaded($event)"
                ></image-cropper>
            </div>            
        </div>
        <div class="flex dark:border-gray-700 pb-2 m-auto" *ngIf="showPreview">
            <div class="flex items-center justify-between py-2 dark:border-gray-600">
                <div class="flex flex-1 items-center space-x-4">
                    <span class="block text-lg font-semibold"> You selected </span>
                </div>
            </div>
        </div>
        <div class="flex dark:border-gray-700 row-photos-swiper m-auto" *ngIf="showPreview">
            <swiper [spaceBetween]="15" effect="fade" [slidesPerView]="cols">               
                <ng-template swiperSlide *ngFor="let file of files; let i = index;">
                    <div>
                        <img src="{{file}}" class="w-100 cursor-pointer img-files {{i == 0?'selected':''}}" (click)="selectItemCarouselToFilter(file, $event,i)" alt='Filters carousel photos'>                            
                    </div>
                </ng-template>
            </swiper>            
        </div>
    </div>
    <div class="space-y-3 fixed-bottom p-2 footer-add main_content">
        <div class="flex space-x-4 lg:font-bold painel-iteraction">
            <!-- <a href="#" class="flex items-center space-x-2">
                <div class="rounded-full text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"   class="dark:text-gray-100">
                        <title>ionicons-v5-g</title>
                        <path d="M464,384.39a32,32,0,0,1-13-2.77,15.77,15.77,0,0,1-2.71-1.54l-82.71-58.22h0A32,32,0,0,1,352,295.7V216.3a32,32,0,0,1,13.58-26.16l82.71-58.22a15.77,15.77,0,0,1,2.71-1.54,32,32,0,0,1,45,29.24V352.38a32,32,0,0,1-32,32Z"/><path d="M268,400H84a68.07,68.07,0,0,1-68-68V180a68.07,68.07,0,0,1,68-68H268.48A67.6,67.6,0,0,1,336,179.52V332A68.07,68.07,0,0,1,268,400Z"/>
                    </svg>
                </div>
            </a> -->
            <a (click)="validInputFile()" class="flex items-center space-x-2">
                <div class="rounded-full text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"   class="dark:text-gray-100">
                        <title>ionicons-v5-e</title>
                        <path d="M416,64H96a64.07,64.07,0,0,0-64,64V384a64.07,64.07,0,0,0,64,64H416a64.07,64.07,0,0,0,64-64V128A64.07,64.07,0,0,0,416,64Zm-80,64a48,48,0,1,1-48,48A48.05,48.05,0,0,1,336,128ZM96,416a32,32,0,0,1-32-32V316.37l94.84-84.3a48.06,48.06,0,0,1,65.8,1.9l64.95,64.81L172.37,416Zm352-32a32,32,0,0,1-32,32H217.63L339.05,294.58a47.72,47.72,0,0,1,61.64-.16L448,333.84Z"/>
                    </svg>
                </div>
            </a>
            <input formControlName="file" class='file-input'  #fileInput hidden type="file" accept="image/*" (change)="fileChangeEvent( $event )" multiple="multiple">
            <a class="flex items-center space-x-2 flex-1 justify-end">            
                <button [disabled]="photoForm.invalid" type="submit" class="bg-purple-500 hover:bg-purple-500 px-6 py-2 rounded-md text-white font-semibold">
                    <span *ngIf="spinner" class="spinner-border" ></span>
                    <span *ngIf="!spinner">Post</span>                 
                </button>
            </a>
        </div>
    </div>
</form>