img.uilus-circle{
    width: 17px !important;
}
.user-name-mobile{
    display: none;
}
@media only screen and (max-width: 1000px) {
    .user-name-mobile{
        display: block;
    }
}

#explorer-modal{
    position: fixed;
    margin-top:0 !important;
    color: #212529;
    .avatar{
        object-fit: cover;
    }
    .story-modal-media{
        background-color: #080808;
        .div-media{
            display: flex;
            align-items: center;
            justify-content: center;
        }    
    }

    @media only screen and (max-width: 1000px) {
        .story-modal-media{
            width: 100%;
            // height: 600px;
        }
    }
}