#not-found {
    text-align: center;
    h3 {
        font-size: 2rem !important;        
        margin-top: 4vw;
    }
    button{
        width: auto;
        span{
            padding: 10px;
        }
    }
    p.capitalize{
        margin:auto;
    }
    @media screen and (max-width: 1100px) {
        p{
            margin-right: 4vw;
            margin-left: 4vw;
        }
        h3 {
            margin-top: 8vw;
        }
    }
}
