.player-container .player {
  padding-bottom: 56.25%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: #000000;
  height: 600px;
  width: 100%;
}
.player-container .player .video {
  object-fit: cover;
  width: 100%;
  height: 600px;
}
.player-container .player .time span {
  color: #fdfdfd;
}
.player-container .player .play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
}
.player-container .player .play-button-wrapper #circle-play-b {
  cursor: pointer;
  pointer-events: auto;
}
.player-container .player .play-button-wrapper #circle-play-b svg {
  display: block;
  animation: pulse 0.5s;
  width: 100px;
  height: 100px;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.player-container .player .play-button-wrapper #circle-play-b svg.play {
  display: none;
}
@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.player-container .player:fullscreen {
  padding-bottom: 100vh;
}
.player-container .player:-webkit-full-screen {
  padding-bottom: 100vh;
}
.player-container .player:-moz-full-screen {
  padding-bottom: 100vh;
}
.player-container .player:-ms-fullscreen {
  padding-bottom: 100vh;
}
.player-container .controls {
  padding: 0;
  position: absolute;
  bottom: -80px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(37, 37, 37, 0) 10%, rgba(37, 37, 37, 0.6) 80%);
  transition: all 0.2s ease-in 5s;
}
.player-container .player:hover .controls {
  bottom: 0;
  transition: all 0.2s ease-out;
}
.player-container .time {
  position: absolute;
  right: 30px;
  bottom: 100%;
  padding-bottom: 14px;
}
.player-container .progress {
  height: 8px;
  width: calc(100% - 40px);
  background: rgba(60, 60, 60, 0.6);
  margin: auto;
  border-radius: 6px;
  position: absolute;
  left: 20px;
  bottom: 100%;
  transition: height 0.1s ease-in-out;
}
.player-container .progress:hover {
  height: 10px;
}
.player-container .progress-filled {
  background: var(--accent);
  width: 0;
  height: 100%;
  border-radius: 6px;
  transition: all 0.1s;
}
.player-container .controls-main {
  width: calc(100% - 40px);
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.player-container .controls-left,
.player-container .controls-right {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.player-container .controls-left {
  margin-left: 10px;
}
.player-container .controls-right {
  margin-right: 10px;
  justify-content: flex-end;
}
.player-container .volume {
  display: flex;
  align-items: center;
}
.player-container .volume-btn {
  margin-right: 10px;
}
.player-container .volume-btn #volume-off, .player-container .volume-btn #volume-high {
  opacity: 0;
}
.player-container .volume-btn.loud #volume-high {
  opacity: 1;
}
.player-container .volume-btn.muted #volume-off {
  opacity: 1;
}
.player-container .volume-btn.muted #volume-high, .player-container .volume-btn.muted #volume-low {
  opacity: 0;
}
.player-container .volume-slider {
  height: 8px;
  width: 80px;
  background: rgba(60, 60, 60, 0.6);
  border-radius: 6px;
  position: relative;
}
.player-container .volume-filled {
  background: var(--main);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: width 0.2s ease-in-out;
}
.player-container .volume-filled:hover {
  background: var(--accent);
}
.player-container button:focus {
  outline: none;
}
.player-container .speed-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 20px;
  text-align: center;
}
.player-container .speed-list li {
  color: var(--main);
  padding: 5px;
  cursor: default;
}
.player-container .speed-list li:hover,
.player-container .speed-list li.active {
  color: var(--accent);
  font-weight: bold;
}
.player-container .fullscreen {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 990px) {
  .player-container .player {
    border-radius: 0;
    width: 100%;
  }
  .player-container .player .video {
    min-width: 100vw;
  }
}

/*# sourceMappingURL=videos.component.css.map */
