.container-setting-profile {
  .container {
    .button-profile{
      width: 100%;
    }
    .option-menu {
      span{
        display: block;
        text-align: center;
        padding: 10px 10px;
        color: #929292;
        border-bottom: 5px solid transparent;
        transition: color 0.1s ease-in-out;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        &.active{
          border-color: #3e416d;
        }
      }
    }
  }
  @media only screen and (min-width: 100px) {
  }
}
