<div id="wrapper" class="flex flex-col justify-between h-screen">

    <!-- header-->
    <app-header-home></app-header-home>

    <!-- Content-->

    <div class='div-register'>
        <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
            <p class="lg:text-3xl text-xl font-semibold mb-6 text-login-signup" data-nosnippet> Sign Up</p>
            <p class="mb-2 text-black text-lg" data-nosnippet> Register to manage your account </p>
            <form [formGroup]="signupForm" (submit)="signUp()" #form="ngForm">
                <div class="flex lg:flex-row flex-col lg:space-x-2">
                    <input type="text" placeholder="First Name" formControlName="firstName" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">                    
                    <input type="text" placeholder="Last Name" formControlName="lastName" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">                   
                </div>
                <div class="flex lg:flex-row flex-col lg:space-x-2">
                    <app-vmessage *ngIf="signupForm.get('firstName').errors?.required && form.submitted" text="First name is required"></app-vmessage>
                    <app-vmessage *ngIf="signupForm.get('lastName').errors?.required && form.submitted" text="Last name is required"></app-vmessage>
                </div>
                <input type="text" placeholder="Email" formControlName="email" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                <app-vmessage *ngIf="signupForm.get('email').errors?.email && form.submitted" text="Email invalid"></app-vmessage>
                <app-vmessage *ngIf="signupForm.get('email').errors?.required && form.submitted" text="Email is required"></app-vmessage>
                <input type="password" placeholder="Password" formControlName="password" class="{{colorPasswords}} bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                <app-vmessage *ngIf="signupForm.get('password').errors?.required && form.submitted" text="Password invalid"></app-vmessage>
                <app-vmessage *ngIf="signupForm.get('password').errors?.minlength && form.submitted" text="Password must be at least 8 digits"></app-vmessage>
                <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="{{colorPasswords}} bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">        
                <div class="flex justify-start my-4 space-x-1">
                    <div class="checkbox">
                        <input type="checkbox" id="chekcbox1" checked>
                        <label for="chekcbox1"><span class="checkbox-icon" data-nosnippet></span> I Agree</label>
                    </div>
                    <span class="cursor-pointer" routerLink="/terms" data-nosnippet> Terms and Conditions</span>
                </div>
                <app-vmessage *ngIf="messageError" text="{{messageError}}"></app-vmessage>
                <button type="submit" class="bg-purple-500 hover:bg-purple-500 from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">
                    <span *ngIf="spinner" class="spinner-border"data-nosnippet ></span>
                    <span *ngIf="!spinner" data-nosnippet>Sign Up</span>                    
                </button>
                <div class="text-center mt-5 space-x-2">
                    <p class="text-base" data-nosnippet> Do you have an account? <span routerLink="/login" class="cursor-pointer" data-nosnippet> Login </span></p>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
    
</div>