<div class="container pb-5">
    <h3>Privacy Policy</h3>
    <p>Your privacy is important to us. It is<a href='https://flysmash.com'>Flysmash</a>
      respect your privacy in relation to any information about you that we may collect on the site
      <a href='https://flysmash.com'>Flysmash</a>,and other websites that we own and operate .</p>
    <p>We request personal information only when we really need it to provide you with a service. We do this by fair and legal means, with your knowledge and consent. We also tell you why we are collecting it and how it will be used.</p>
    <p>Only
      we retain the information collected for as long as necessary to provide the requested service. When we store data,
      we protect within commercially acceptable means to prevent loss and theft, as well as access, disclosure,
      unauthorized copying, use or modification.</p>
    <p>
      We do not share identifying information
      publicly or with third parties, except as required by law.</p>
    <p>
      Our website may have links to external websites that are not operated by us. Please be aware that we have no control over the content and
      practices of these sites and we cannot accept responsibility for their respective privacy policies.
    </p>
    <p>
      Our website may have links to external websites that are not operated by us. Please be aware that we have no control over the content and
      Don't trust the app <a href="https://flysmash.com">Flysmash</a> to send personal information, confidential information that involves financial transactions, content that is leaked, may embarrass your image or that of others.
    </p>
    <p>Hacker attacks are frequent, sometimes systems and
      <a href="https://flysmash.com">Flysmash</a> they do not have enough control to prevent it, so be very careful when sending confidential information.
    </p>
    <p>
      You you are free to refuse our request for personal information, understanding that we may not be able to provide some desired services.</p>
    <p>
      Continued use of our website will be considered acceptance of
      our practices around privacy and personal information. If you have any questions about how we handle
      user data and personal information, please contact us.
    </p>
    <h3>
      Cookies Policy
      <a href='https://flysmash.com'>Flysmash</a></h3>
    <h3>What are cookies?</h3>
    <p>
  
      As is common practice in almost all
      professional sites, this site uses cookies, which are small files downloaded to your computer, to improve
      your
      experience. This page describes what information they collect, how we use it and why we sometimes need it
      store these cookies. We will also share how you can prevent these cookies from being stored, at
      However, this can downgrade or 'break' certain elements of the website's functionality.
    </p>
    <h3>How do we use cookies?</h3>
    <p>
      We use cookies for a variety of reasons, detailed below.
      Unfortunately, in most cases, there are no industry standard options for disabling cookies without disabling
      completely the functionality and features that they add to this site. It is recommended that you leave all
      cookies if you are not sure whether or not you need them, if they are used to provide a service you use.
    </p>
    <h3>Disable cookies</h3>
    <p>
      You can prevent cookies from being set by adjusting the settings
      of your browser (see your browser's Help for how to do this). Be aware that disabling
      cookies will affect the functionality of this and many other websites you visit. Disabling cookies generally
      will result in the deactivation of certain features and features of this website. Therefore, it is recommended that you
      not
      disable cookies.
    </p>
    <h3>Cookies we set</h3>
    <ul>
      <li>
        Account related cookies <br> <br> If you create an account with us, we will use cookies to manage your account
        registration process and general administration. These cookies will generally be deleted when you log out,
        however, in some cases, they may remain at a later date to remember your site’s preferences when
        get out.
      </li>
      <li> Login-related cookies <br> <br> We use cookies when you are logged in, so we can remember
        of that
        action. This saves you from having to sign in every time you visit a new page. These cookies are usually
        removed or cleaned when you log out to ensure that you can only access resources and areas
        restricted when logging in. <br> <br> </li>
      <li> Cookies related to email newsletters <br> <br> This site offers newsletter subscription services
        newsletter or email and cookies can be used to remember if you are already registered and should show
        certain notifications valid only for registered / non-registered users. <br> <br> </li>
      <li> Orders processing related cookies <br> <br> This site offers e-commerce facilities or
        payment and some cookies are essential to ensure that your order is remembered between pages, so that
        we can process it properly. <br> <br> </li>
      <li> Survey-related cookies <br> <br> Periodically, we offer surveys and questionnaires to provide
        interesting information, useful tools or to understand our user base more accurately. These
        surveys can use cookies to remember who has already participated in a survey or to provide accurate results
        after
        changing pages. <br> <br> </li>
      <li> Cookies related to forms <br> <br> When you send data using a form like the ones
        found
        on contact pages or comment forms, cookies can be set to remember
        user details for future correspondence. <br> <br> </li>
      <li> Site preference cookies <br> <br> To provide a great experience on this site, we provide the
        functionality to set your preferences for how that site runs when you use it. To remember your
        preferences, we need to set cookies so that this information can be called up whenever you interact
        with a page is affected by your preferences. <br> </li>
    </ul>
    <h3> Third Party Cookies </h3>
    <p> In some special cases, we also use
      cookies provided by trusted third parties. The following section details which third-party cookies you may encounter
      through this site. </p>
    <ul>
      <li> This site uses Google Analytics, which is one of the most widespread and reliable analytics solutions on the Web, to
        help us understand how you use the site and how we can improve your experience. These cookies can track
        items like how much time you spend on the site and the pages you visit, so that we can continue producing content
        attractive.
      </li>
    </ul>
    <p> For more information on Google Analytics cookies, see the official Google page
      Analytics. </p>
    <ul>
      <li> Third party analytics are used to track and measure the use of this site, so that we can continue
        producing attractive content. These cookies can track items such as the time you spend on the website or the pages
        visited, which helps us understand how we can improve the site for you.
      </li>
      <li> We periodically test new features and make subtle changes to the way the site looks. When
        we’re still testing new features, these cookies can be used to ensure you get a
        consistent experience while on the site, while understanding which optimizations our users most
        appreciate.
      </li>
      <li> As we sell products, it is important to understand the statistics on how many visitors to our site
        actually buy and therefore this is the type of data these cookies will track. This is important to you,
        because it means that we can make accurate business forecasts that allow us to analyze our costs of
        advertising and products to ensure the best possible price.
      </li>
      <li> The Google AdSense service we use to serve ads uses a DoubleClick cookie to serve ads
        more relevant across the web and limit the number of times a particular ad is shown to you.
        For more information about AdSense, see the official AdSense privacy FAQs.
      </li>
      <li> We use ads to offset the running costs of this site and provide financing for future
        developments. The behavioral advertising cookies used by this website are designed to ensure
        what
        you provide the most relevant ads whenever possible, anonymously tracking your interests and
        presenting
        similar things that may be of interest to you.
      </li>
      <li> Several partners advertise on our behalf and affiliate tracking cookies simply allow us to see
        if
        our customers accessed the site through one of our partner sites, so that we can credit them
        properly and, where applicable, allow our affiliate partners to offer any promotion that may
        provide you to make a purchase.
      </li>
    </ul>
    <h3> User Commitment </h3>
    <p> The user undertakes to
      make appropriate use of the content and information that <a href='https://flysmash.com'> Flysmash </a> offers on the website and with an enunciative character, but not
      limiting: </p>
    <ul>
      <li> A) Do not engage in activities that are illegal or contrary to good faith and public order; </li>
      <li> B) Do not broadcast advertising or content of a racist, xenophobic nature, or about casinos, bookmakers
        online (e.g. <a href = 'https: //ondeapostar.pt/review/betway/'
                        style = 'color: inherit; font-weight: normal; text-decoration: none;'> Betway </a>), games of chance and
        bad luck, any kind of illegal pornography, in favor of terrorism or against human rights;
      </li>
      <li> C) Do not damage the physical (hardware) and logical (software) systems of the <a href='https://flysmash.com'> Flysmash </a>, its suppliers or
        third parties, to introduce or spread computer viruses or any other hardware or software systems
        what
        capable of causing damage previously mentioned.
      </li>
    </ul>
    <h3> More information </h3>
    <p> Hopefully you are
      clarified and, as mentioned earlier, if there’s something you’re not sure if you need it or not, usually
      It's
      safer to leave cookies enabled if you interact with one of the features you use on our website. </p>
    <p>
      This policy is effective from
      <strong> January </strong> /
      <strong> 2021 </strong>.
    </p>
  </div>