.div-general-dialog-setting {
  margin: 4vw auto;
  .avatar {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
  }
  img{
    border-radius: 10px;
  }
  //.avatar-crop {
  //  width: 300px;
  //  height: 300px;
  //  object-fit: cover;
  //}
}

//@media only screen and (max-width: 600px) {
//  .avatar {
//    width: 50vw;
//    height: 50vw;
//  }
//}

