img.uilus-circle {
    width: 17px !important;
}
@media only screen and (max-width: 1000px) {
    .painel-iteraction {
        font-size: 10px;
    }
    .responsive-custom {
        height: 18rem;
    }

    ::-webkit-scrollbar {
        width: unset;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px transparent;
        // border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 0;
    }
}
