.main_content{
    overflow-x: scroll;
}
img.uilus-circle {
    width: 17px !important;
}
.loading-pulse{
    height: 500px;
    .img{
        height: 263px;
    }
    .top{
        height: 68px;
    }
    .footer{
        height: 120px;
    }
}



@media only screen and (max-width: 1000px) {
    .painel-iteraction {
        font-size: 10px;
    }
    .responsive-custom {
        height: 18rem;
    }

    ::-webkit-scrollbar {
        width: unset;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px transparent;
        // border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 0;
    }
}
