<div class="container pb-5">
    <h3>A simple social network, without algorithms that get you stuck</h3>
    <p>The social network algorithms are a set of data and rules established by each social network, which are
        responsible for determining which content and which pages appear first to the public in the timeline of their
        respective accounts.</p>

    <h3>How do social network algorithms work and how are they used?</h3>
    <p>Each social network will have its own rules to be taken into account to determine its algorithm, but the premise
        is the same: they will help to rank posts and filter the best ones for each user based on their profile.
        Everything on these networks is monitored, what you read, like, follow, the time you spend viewing a particular
        post, all to have a psychological profile and use your attention as a product. It is important to make it clear
        that this is done on Flysmash, but not on your timeline and explorer, just for sponsored content purposes.</p>

    <p>This type of algorithm takes "you are the product", something that Flysmash does not do.</p>

    <p>The consequences for the use of these algorithms is extremely dangerous, making the network addictive, spreading
        Fake News and causing social and political instability in the world, therefore, our philosophy for the display
        of these contents is based on simple timeline techniques.</p>
</div>