<div class="container pb-5">
    <h1 class="mb-6">What is flysmash?</h1>
    <h3>A mix of the most popular social networks, an alternative to <a href="https://www.youtube.com" target="_blank">Youtube</a>, <a href="https://www.facebook.com" target="_blank">Facebook</a> and <a href="https://www.instagram.com" target="_blank">Instagram</a></h3>
    <p>Flysmash is a social network with a new design, different from Instagram and Facebook, we tried to take the best of each and apply it in a totally new and simple social network</p>
    <p>
        Here you can have a little experience of each social network, you can edit videos and/or photos and share with your friends and family, you can apply filters and face masks on your photos too.
    </p>

    <h1>Face and color filters</h1>
    <p>
        Here you can apply wonderful filters to your photos, making your photos smoother, these filters are simpler, but they can make the image a little more stylish. There is still the face filter, you can apply a carnival mask for example, you can insert glasses on your face, you can see how a certain mask looks, all of this customizable, and what's cool, it's free and always will be.
    </p>
    <p>
        We have to admit and recognize, we use <a href="https://pt.wikipedia.org/wiki/Intelig%C3%AAncia_artificial" target="_blank">IA (artificial intelligence)</a>.
But don't worry, we don't do any kind of analysis of your face to sell to other companies, your data is not even computed by us, but by your device, no one else has access to this data.
    </p>
    <figure class="mb-8 mt-8">
        <img src="./assets/img/face_mesh_ar_effects.gif"  alt="Imagem to filter face">
        <figcaption class="text-muted">Image taken from the <a href="https://google.github.io/mediapipe/" target="_blank">MediaPipe</a> website</figcaption>
    </figure>
    

    <h1>How does this technology work?</h1>

    <p>We can't say exactly all the tools we use, but one such tool is MediaPipe.
        With some modifications to the tool, we managed to make it a little faster, we still have a lot of performance challenges, as some devices still need a high processing power, so the speed will depend a little on the processing power of your favorite device</p>
</div>