<app-alert></app-alert>
<div class='sidebar' showIsLogged *ngIf="showHeadSidebar && ($user|async)">
    <app-sidebar showIsLogged></app-sidebar>
</div>
<div class="main_content" *ngIf="(showHeadSidebar && !hideHeader) && ($user|async)">
    <app-header showIsLogged></app-header>
</div>
<div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
<ngx-loading [show]="isSpinnerVisibile$ | async"></ngx-loading>

<router-outlet #outlet="outlet"></router-outlet>