<form [formGroup]="form" class="m-auto fixed-bottom" showIsLogged>
  <div class="mb-5">
    <div class="row">
      <div class="col-auto w-100 m-auto">
        <textarea formControlName="comment_text" placeholder="Comment"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col m-auto p-2">
        <input type="button" (click)="save()" [disabled]="form.invalid" class="btn-send  {{form.valid?'text-white':'text-muted'}} mr-2" value="Publish">
      </div>
    </div>
  </div>
</form>
