header{
    .no-auth-title-header{
        text-align: center;
        font-family: FredokaOne-Regular;
        color:#9369e9;
        margin-bottom: 0 !important;
        font-size:1.2rem;
        a{
            font-weight: bold;
            text-decoration: underline !important;
            cursor: pointer;
        }
    }
    .header-links-item-mobile{
        display: none;
    }
    @media screen and (max-width: 1100px) {
        .header-links-item{
            display: none;
        }
        .header-links-item-mobile{
            display: block;
        }
      }
}