header{
    .icon-search{
        i{
            font-size: 24px;
            font-style: normal;
        }
    }
    .--result-search-header{
        .avatar{
            margin:auto;
        }
        position: absolute;
        max-width: 600px;
        top: 63px;
        background: white;
        z-index: 9999;
        img{
            width: 54px;
            height: 54px;
            object-fit: cover;
        }
        .col{
            overflow-y: scroll;
            max-height: 500px;
        }
    }
    @media screen and (max-width: 1100px) {
        .--result-search-header{
            display: none;
        }
    }
}