<!-- <div id="photo-detail" *ngIf="(photo$ | async) as photo">
  <app-photo-card-header [photo]='photo'></app-photo-card-header>
  <div *ngIf="isPhoto( photo.photo_url ) else video">
    <img src="{{photo.photo_url}}" alt='Photo detail {{photo.photo_description}}'>
  </div>
  <ng-template #video>
    <app-videos [url]="photo.photo_url" [video_id]="photo.photo_id"></app-videos>
  </ng-template>
  <div class='app-photo-description'>
    <app-photo-description [photo]="photo"></app-photo-description>
  </div>
  <app-like [photo]="photo" (viewFormComment)="photoComment = $event" (photoId)="photoId = $event" [_viewFormComment]="photoComment"></app-like>
</div> -->
