<div *ngFor="let teste of counter()">
  <div class="border shadow rounded-md p-2 max-w-sm w-full mx-auto mt-2 shimmer-loading-component">
    <div class="animate-pulse flex space-x-4">
      <div class="rounded-full bg-default-opacity h-12 w-12"></div>
      <div class="flex-1 space-y-2 py-1">
        <div class="h-4 bg-default-opacity rounded w-3/4"></div>
        <div class="space-y-2">
          <div class="h-56 bg-default-opacity rounded"></div>
          <div class="h-4 bg-default-opacity rounded w-5/6"></div>
        </div>
      </div>
    </div>
  </div>
</div>

