<div class="bg-white py-3 dark:bg-gray-800 header-home">
    <div class="max-w-6xl mx-auto">
        <div class="flex items-center lg:justify-between justify-around">
            <span routerLink="/" class="title-text cursor-pointer">
                flysmash
            </span>
            <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
                <span routerLink="/login" class="cursor-pointer py-3 px-4">Login</span>
                <span routerLink="/signup" class="cursor-pointer bg-purple-500 hover:bg-purple-500 pink-500 px-6 py-3 rounded-md shadow text-white">Sign Up</span>
            </div>
        </div>
    </div>
</div>