#notification{
  height: auto !important;
}
.uk-drop {
  position: unset !important;
  z-index: unset !important;
  width: unset !important;
}
.header_dropdown {
  margin-top: 0 !important;
  max-width: unset !important;
}
.dropdown_scrollbar{
  overflow-x: hidden;
}
.see-all{
  cursor: pointer;
}
.dropdown_scrollbar{
  max-height: unset;
}

@media screen and (max-width: 1000px) {
  .container{
    padding: 10px 20px !important;
  }
}
